// @use '../../global/style-vars.scss';

.main-container {
  
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.shadow {
  position: fixed;
  z-index: -1;
  top: 100vh;
  width: 100vw;
  height: 1px;
  box-shadow: 0px -90vh 50vh 10px var(--hl-pink);
}

.shadow2 {
  position: fixed;
  z-index: -1;
  bottom: -100vh;
  width: 100vw;
  height: 1px;
  box-shadow: 0px -90vh 50vh 10px var(--hl-pink);
}

.rotate {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-main);
  color: var(--hl-pink);
  font-size: 26px;
  z-index: 999;
  
  .rotate-icon {
    animation: rotate 2s ease-in-out infinite;
    fill: var(--hl-pink);
    width: 70px;
  }
}

.copy {
  font-size: 12px;
  text-align: center;
  margin-top: 4rem;
  color: var(--subdued)
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}